@charset "utf-8";
/* Quatro Rodas */

/* Gerais */

body{
background-color: #e6e6e6 !important;
}

a, a:hover{
text-decoration:none !important;
color:#fff !important;
}

ul,li{
list-style-type:none;
}

/* Componentes */

.bannerPrincipal{
margin:12px 0;
}

.cabecalho{
	font-family: 'Dosis','Arial Narrow',sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	max-width:1320px;
	max-height:80px;
	background-color:#ed1c24;
	z-index:1;
	transition: all .5s;
}

#menuPrincipalSt-sticky-wrapper.is-sticky .cabecalho{
max-height:60px;
}

.logoQuatroRodas{
padding:20px;
max-width:200px;
transition: all .5s;
}

#menuPrincipalSt-sticky-wrapper.is-sticky .logoQuatroRodas{
padding:10px 20px;;
}

.areaMenuPrincipal{
max-width:800px;
height:30px;
padding:10px 0;
transition: all .5s;
}

#menuPrincipalSt-sticky-wrapper.is-sticky  .areaMenuPrincipal{
padding:0;
}

.menuPrincipal
{
	width:100%;
	height:100%;
}

.itensMenuPrinc li
{
display:block;
float:left;
padding:6px 6px 0 0;
margin:6px 8px 0 0;
transition:all .5s;
}

#menuPrincipalSt-sticky-wrapper.is-sticky .itensMenuPrinc li
{
padding:0;
}

.itensMenuAcessados li
{
font-size:13px;
display:block;
float:left;
padding:0 3px;
margin:4px 3px;
}

.itensMenuAcessados
{
margin:0 !important;
padding:0 !important;
}

.setaAcessados{
margin:0 !important;
padding:5px 0 5px 10px !important;
width:144px;
height:28px;
background:url('../imagens/seta-maisacessados.png') no-repeat;
}

.busca{
font-family: 'HelveticaNeue',Arial,sans-serif;
font-weight:normal;
text-transform:uppercase;	
width:190px;
padding:12px;
color:#a3a3a3;
margin:17px 10px;
border:none;
background:#fff url('../imagens/lupinha-busca.png') no-repeat 160px 14px;
transition: all .5s;
}


#menuPrincipalSt-sticky-wrapper.is-sticky .busca{
	width:150px;
	margin:12px 20px;
	padding:6px;
	background:#fff url('../imagens/lupinha-busca.png') no-repeat 120px 8px;
	}

.menuAcessados
{
background-color: #242424;
width:100%;
max-height:28px;
margin:0 0 0 0 !important;
}

.menuAcessados ul{
display:block;
}

/* Quando a tela rola, o menu acessados some */
#menuPrincipalSt-sticky-wrapper.is-sticky .menuAcessados{
max-height:0;
}

/* e o conteúdo do menu desaparece também */
#menuPrincipalSt-sticky-wrapper.is-sticky .menuAcessados ul{
display:none;
}

.leadPrincipal{
height:500px;
/* background-color:#555; */
overflow:hidden;
}

.deslocaTitulo{
position:relative;
bottom:-350px;
text-align:right;
}

.deslocaMenor{
position:relative;
bottom:-160px;
}

.deslocaTitulo h1{
font-family:'Dosis Medium',arial, sans-serif;
margin-top:5px;
clear:both;
}

.deslocaMenor h1{
font-family:'Dosis',arial, sans-serif;
font-weight:bold;
font-size:20px;
margin-top:5px;
clear:both;
}

.secao{
font-family:'Dosis Medium',arial, sans-serif;
font-size:16px;
background:url('../imagens/bolete.png') no-repeat 0 4px;
float:right;
}

.social{
overflow:hidden;
background:url('../imagens/social.png') no-repeat;
width:0;
float:left;
height:30px;
margin:16px 0 0 6px;
transition:all .5s;
}

#menuPrincipalSt-sticky-wrapper.is-sticky .social{
width:130px;
}

.secao ul{
margin-bottom:0;
}

.destaqueMenor{
height:250px;
overflow:hidden;
}

#Destaques{
text-transform:uppercase;
font-family:'Dosis','Arial narrow',sans-serif;
text-align:right;
color:#fff;
background-size:100%;
}

.publi{
background-color:#222222;
}

.publi img{
}

.miniatura{
height:200px;
width:100%;
}

.secaoMini{
text-align:left;
font-size:16px;
font-weight:bold;
position:relative;
top:170px;
padding:0 15px;
}

.bolete{
position:relative;
top:5px;
width:14px;
height:14px;
background-color:#ed1c24;
border-radius:20%;
float:left;
margin-right:10px;
}

.bolete2{
width:14px;
height:14px;
border-radius:20%;
position:relative;
top:5px;
right:10px;
float:left;
margin-right:10px;
background-color:#ed1c24;
}

.Posts{
margin:10px 0 0 0;
}

/* Subseções do menu */

#Carros{
	z-index:3;
	display:none;
	position:relative;
	top:-28px;
	left:0;
	width:100%;
	background-color:#242424;
	border-bottom:solid 1px #ed1c24;
	transition:0;
}

/* caso a tela role, menu deve ser ajustado */
#menuPrincipalSt-sticky-wrapper.is-sticky #Carros{
top:0;
}

#Carros{
height:150px;
}

#Carros ul{
margin-top:14px;
}

#Carros ul li{
	font-family:'Dosis Medium',Arial,sans-serif;
	text-transform:none;
	font-weight:normal;
	margin:10px 0;
	letter-spacing:0.5px;
}

#Testes,#Noticias,#Autoservico,#Guia,#Fipe,#Assine{
display:none;
height:200px;
}

.ver{
padding:10px;
width:200px;
height:100%;
float:left;
}

.btVerTodos{
background-color:#474747;
border:none;
padding:6px 12px;
letter-spacing:1px;
font-size:15px;
}

.miniatura{
background-color:#0CF;
}

/* Posts Destaque */

#Destaques .Titulo,#Destaques .Linha,#Destaques .mais{
padding:0 15px;
text-align:left;
}


#Destaques .Titulo{
color:#000;
font-size:22px;
font-weight:bold;
margin:5px 0;
}

#Destaques .Linha{
font-size:16px;
text-transform:none;
color:#000;
font-weight:bold;
}

#Destaques .mais{
font-weight:bold;
color:#ec444b;
margin:5px 0 20px 0;
}

.miniaturaDePost{
height:100%;
width:100%;
overflow:hidden;
padding:0;
margin:0;
float:left;
position:absolute;
top:0;
left:0;
z-index:-1;
text-align:center;
background-color:#444;
}

.miniaturaDePost img{
	
}

/* navegação Mobile */

.areaLogo{
height:100% !important;
background-color:#ed1c24 !important;
}

.bannerMobile{
z-index:10;
clear:both;
background-color:#fff;
}

.barrinhaMobile{
z-index:10;
display:inline-block;
width:100%;
background-color:#d41f1f !important;
}

#menuSt{
z-index:10;
}

.navbarQuatroRodas{
background-color:#ed1c24 !important;
min-height:54px !important;
height:100% !important;
border:none !important;
margin-bottom: 0 !important;
}

.btNavMobile{
background-color:#d41f1f !important;
min-height:64px !important;
height:100% !important;
border:none !important;
border-radius:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
margin-right:0 !important;
padding: 10px 20px !important;
color:#fff;
}

.btEsq{
background-color:#ed1c24 !important;
}

.btDir{
}

.btNavMobile:hover{

}

.navCabecalho{
border-color:#d41f1f !important;
}

.navbar-collapse.in{
z-index:10 !important;
}

.barrinhaMobile .active>a{
background-color:transparent !important;
}

.barrinhaMobile ul{
font-family:'Dosis', Arial, sans-serif;
font-weight:bold;
text-transform:uppercase;
letter-spacing:0.5px;
}

.barrinhaMobile li{
border-top: solid 1px #c21c1c;
padding-left:10px;
}

.btFecharMenuMobile{
display:block;
width:20px;
height:20px;
transition: all .2s;
}

.btNavMobile.btDir.navbar-toggle.collapsed .btFecharMenuMobile{
background:url('../imagens/hamburger.png') no-repeat center;
}

.btNavMobile.btDir.navbar-toggle .btFecharMenuMobile {
background:url('../imagens/x.png') no-repeat center;	
}

/* Sobrescrever */

.post-categories{
padding-left:20px;
}

/* Ajustes locais */

.semPadEsq{
padding-left:0 !important;
}

.semPadDir{
padding-right:0 !important;
}

.padEsqDez{
padding-left:10px !important;
}

.padDirDez{
padding-right:10px !important;
}

#Fundo{
display:none;
background-color:rgba(30,30,30,.5);
height:100%;
width:100%;
position:fixed;
top:0px;
left:0;
z-index:0;
}

/* conserta a aparição do wrapper no menu principal em telas menores */
@media screen and (max-width: 991px) {
#menuPrincipalSt-sticky-wrapper.sticky-wrapper{
display:none;
}

}